<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h2>金庸作品</h2>
    <ul>
    {% for book in books %}
        <li>{{ book.id }}  {{ book.title }}</li>
    {% endfor %}

    </ul>

    <div>
    <h2>所有来自倚天屠记的人物</h2>
        <ul>
    {% for hero in heroes_in_yitian %}
        <li>{{hero.id}} {{hero.hero_name}} {{hero.hero_book.title}}</li>
        {% endfor %}
            </ul>
    </div>


   <div>
    <h2>英雄名为小朱的图书</h2>
        <ul>
    {% for book in book_contain_xz %}
        <li>{{book.id}} {{book.title}} </li>
        {% endfor %}
            </ul>
    </div>


</body>
</html>